label {
    display: block;
    font:
      1rem 'Fira Sans',
      sans-serif;
  }
  
  input,
  label {
    margin: 0.4rem 0;
  }
  
  body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }

  body#cuerpo{
    background-color: rgb(21, 184, 162);
  }

  .navbar{
    padding: 1rem;
  }

  .navbar-brand, navbar-link {
    font-size: 1.2rem;
  }

  .navbar-collapse {
    justify-content: center;
  }

  .navbar-toggler {
    margin-right: 10px;
  }

  .form-check { 
    padding: 0.5rem 0;
  }
  
  .form-select {
    margin-bottom: 1rem;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 100px;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch
 }

 a.nav-link:hover {
  background-color: rgb(17, 115, 180);
  border-radius: 8%;
 }

 .item#anotacion{
  background-color: rgba(20, 170, 150, 0.507);
 }

 .item#tiempoRango, .item#ultimos5{
  background-color: rgba(129, 230, 216, 0.507);
 }

 
 .item#grafica{
  background-color: floralwhite;
 }


 @media (max-width: 768px) {
  h1{
    font-size: 1.5rem;
  }

  .input-group-text {
    font-size: 1rem;
  }

  .form-control {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .btn {
    font-size: 1rem;
    padding: 0.7rem 1.5rem;
  }

  #submit {
    width: 100%;
  }

  #notas{
    font-size: 1rem;
  }
 }

#myChart1 {
  max-width: 100%;
  height: auto;
}

#tiempoRango {
  font-size: 1.2rem;
}

/* Responsive for smaller screens */
@media (max-width: 576px) {
  h3 {
      font-size: 1.25rem;
  }

  .item {
    margin-top: 20px;
}

}

.toast-header {
  background-color: rgb(250, 249, 247);
  color: rgb(4, 255, 4);
  border-style: none;
}

#miToast {
  margin: 15px;
  border-style: none;
}